@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap');

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Bungee Outline', cursive;

  --clr-light: #e9eaec;
  --clr-med: #90adc6;
  --clr-dark: #333652;
  --clr-accent: #fad02c;

  --bs-dark: 0.5rem 0.5rem rgba(255, 255, 255, 0.205),
    -0.2rem -0.2rem 0.5rem rgba(255, 255, 255, 0.205);

  --bs: 0.5rem 0.5rem #e9eaec,
    -0.2rem -0.2rem 0.5rem #e9eaec;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* GENERAL STYLING */

body {
  background: var(--clr-dark);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  padding-top: 3rem;
  scroll-behavior: smooth;
}


@media (max-width: 600px) {
  .movie-app>.row.row-overflow {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

/* NAVBAR STYLING */

#navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}



@media (max-width: 992px) {
  #mobile-navbar-show {
    display: flex;
    justify-content: flex-end;
  }

  #desktop-navbar-show {
    display: none;
  }
}


@media (min-width: 992px) {
  #desktop-navbar-show {
    display: flex;
    justify-content: flex-end;
  }

  #mobile-navbar-show {
    display: none;
  }
}



/* SEACH BOX STYLING */

.form-control {
  width: 50px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: flex;
  justify-content: right;
}

.form-control:focus {
  width: 100%;
  display: flex;
  justify-content: right;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: right;
}


/* INTRODUCTION STYLING */

.introduction {
  background-image: url("./images/popcorn.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50%;
  color: var(--clr-dark);
  text-align: right;
}

.introduction-text {
  background-color:rgba(250, 245, 245, 0.63);
  z-index: 2;
  width: 100%;
}

.introduction h1 {
  font-size: 35px;
  padding: 3rem 3rem 1rem 60%;
  font-weight: bold;
  text-align: justify;
}

.introduction h2 {
  font-size: 30px;
  padding: 0 3rem 1rem 60%;
  text-align: justify;
}

@media (max-width: 700px) {
  .introduction h1 {
    font-size: 30px;
    padding: 1rem;
    text-align: center;
  }
  
  .introduction h2 {
    font-size: 28px;
    padding: 0 2rem 1rem;
  }
}


/* MOVIE LIST STYLING */
.header-sections {
  font-family: var(--ff-secondary);
  color: var(--clr-accent);
}

.movie-poster {
  width: 10rem;
}

.movie-poster-text {
  width: 10rem;
  padding: 1rem;
  height: 100%;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.details-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.details-btn {
  background-color: var(--clr-med);
  padding: 0.1rem 1rem;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin: 0.5rem 0.5rem 1rem;
}

.details-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 600ms;
}

.movielist-align {
  margin: 0 2%;
}

.mobile-favo-button {
  display: none;
}

@media (max-width: 600px) {
  .row::-webkit-scrollbar {
    display: none;
  }

  .row {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .buttons-conainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0.7rem;
  }

  .mobile-favo-button {
    display: inline-block;
    
    color: red;
  }
}


/* FAVOURITES STYLYNG */

.image-container {
  position: relative;
  transition: transform 0.2s;
  height: 14rem;
  overflow-x: hidden;
  box-shadow: var(--bs)
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* DETAILS STYLING */

.movie-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.movie-details-heading {
  width: 100%;
}

.movie-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-image: url("./images/empty-cinema.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-color: rgba(238, 29, 29, 0.349);
  width: 50%;
  border-radius: 10px;
  padding-bottom: 1rem;
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
}

.movie-info {
  position: relative;
  padding: 0.2rem 20%;
  width: 100%;
  color: var(--clr-light);
}

.movie-details h2 {
  position: relative;
  padding: 0.5rem 20%;
}

.details-image-container {
  position: relative;
  height: auto;
  width: auto;
  overflow-x: hidden;
  box-shadow: var(--bs-dark);
}

.movie-poster-text-details {
  display: none;
}

@media (max-width: 600px) {
  .movie-details {
    width: 90%;
    border-radius: 10px;
    padding-top: 1rem;
  }
}


/* FOOTER STYLING */

.footer {
	background: #111;
	color: var(--clr-accent);
	text-align: center;
  padding: 2.5em 0;
  position: absolute;
  bottom: -0.1;
  width: 100%;
}

.footer a {
	color: inherit;
	text-decoration: none;
}

.footer-link {
	font-weight: bold;
}

.footer-link:hover,
.social-list-link:hover {
	opacity: .7;
}

.footer-link:hover {
	text-decoration: underline;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content:center;
	margin: 2em 0 0;
	padding: 0;
}

.social-list-items {
	margin: 0 .5em;
}

.social-list-link {
	padding: .5em;
}